body, html {
    margin: 0;
    padding: 0;
    height: 90%;
    width: 100%;
    font-family: "Tahoma";
}

#mainContainer {
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5% auto 0;
    justify-content: space-between;
    margin-top: 20%;
}

#hintContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-button {
    background-color: dimgray;
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
}

.play-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
}

#hintNumberContainer {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    margin-right: 1vh;
    margin-left: 1vh;
    align-self: center;
    border: thin solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#skipButton {
    font-weight: bold;
    border: thin solid black;
    background-color: lightgray;
    margin-left: 3vh;
}

#guessContainer {
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guess {
    width: 75%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    padding: 10px; 
    box-sizing: border-box;
    margin-right: 50px;
}

#enterButton {
    width: 15%;
    height: 100%;
    font-weight: bold;
    border: thin solid black;
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .play-button {
        width: 50px;
        height: 50px;
    }

    .play-button::before {
        border-left: 15px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .number {
        font-size: 16px;
        width: 25px;
        height: 25px; 
    }

    #skipButton {
        width: 50px;
        height: 25px; 
    }
}

@media screen and (min-width: 769px) {
    .play-button {
        width: 100px;
        height: 100px;
    }

    .play-button::before {
        border-left: 30px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    .number {
        font-size: 18px;
        width: 30px;
        height: 30px; 
    }

    #skipButton {
        width: 60px;
        height: 30px;
        font-size: 18px;
    }

    #enterButton {
        font-size: 18px;
    }
}